.DS_Store
S3/20161124160000.export.csv
S3/20161124161500.export.csv
S3/20161124164500.export.csv
S3/morethan1000.csv
S3/20161124163000.export.csv
SQL/chinook.db
SQL/Chinook_Sqlite.sql
*.pdf
PDF/2007.csv
PDF/2008.csv
PDF/2021.csv
PDF/2009.csv
PDF/2017.csv
PDF/2020.csv
PDF/2010.csv
PDF/2011.csv
PDF/2012.csv
PDF/2013.csv
PDF/2014.csv
PDF/2015.csv
PDF/2016.csv
PDF/2018.csv
PDF/2019.csv
PDF/2022.csv
PDF/2023.csv
PDF/PDF1.py
PDF/PDF1.py
_Book text/Reading data into Python.docx
JSON/.DS_Store
JSON/.DS_Store
JSON/CDC.json
JSON/data.json
JSON/UbiqLog4UCI/10_M/error_1-11-113.log
JSON/UbiqLog4UCI/10_M/error_2-11-113.log
JSON/UbiqLog4UCI/10_M/error_27-10-113.log
JSON/UbiqLog4UCI/10_M/error_28-10-113.log
JSON/UbiqLog4UCI/10_M/error_29-10-113.log
JSON/UbiqLog4UCI/10_M/error_30-10-113.log
JSON/UbiqLog4UCI/10_M/log_12-13-2013.txt
JSON/UbiqLog4UCI/10_M/log_11-30-2013.txt
JSON/UbiqLog4UCI/10_M/error_4-11-113.log
JSON/UbiqLog4UCI/10_M/error_5-11-113.log
JSON/UbiqLog4UCI/10_M/error_6-11-113.log
JSON/UbiqLog4UCI/10_M/error_7-11-113.log
JSON/UbiqLog4UCI/10_M/log_11-29-2013.txt
JSON/UbiqLog4UCI/10_M/log_12-1-2013.txt
JSON/UbiqLog4UCI/10_M/log_12-2-2013.txt
JSON/UbiqLog4UCI/10_M/log_12-5-2013.txt
JSON/UbiqLog4UCI/10_M/log_12-6-2013.txt
JSON/UbiqLog4UCI/10_M/log_12-7-2013 2.txt
JSON/UbiqLog4UCI/10_M/log_12-7-2013.txt
JSON/UbiqLog4UCI/11_F/error_16-10-113.log
JSON/UbiqLog4UCI/11_F/error_17-10-113.log
JSON/UbiqLog4UCI/11_F/log_1-1-2014.txt
Gzip and zip/BR.zip
_Book text/~$ading data into Python.docx
JSON/.DS_Store
JSON/.DS_Store
JSON/.DS_Store
JSON/UbiqLog4UCI/11_F/log_1-10-2014.txt
JSON/UbiqLog4UCI/11_F/log_1-11-2014.txt
JSON/UbiqLog4UCI/11_F/log_1-12-2014.txt
JSON/UbiqLog4UCI/11_F/log_1-13-2014.txt
JSON/UbiqLog4UCI/11_F/log_1-14-2014.txt
JSON/UbiqLog4UCI/11_F/log_1-15-2014.txt
/JSON/UbiqLog4UCI
JSON/.DS_Store
Microsoft Excel/databreachesineurope-publicdata.xlsx
Microsoft PowerPoint/Presentation3.pptx
Microsoft PowerPoint/image.jpg
XML/20250307-1600-gleif-goldencopy-lei2-golden-copy.xml
XML/population.zip
Microsoft Word/Demo2_1.docx
JSON/.DS_Store
Scraping/buildings.csv
JSON/.DS_Store
JSON/.DS_Store
/_Book text
Binary/the-last-post.mp3
CSV/output.csv
CSV/RollingSystemDemand-2025-01-13T15_30_00.000Z-2025-01-14T15_30_00.000Z.csv
JSON/.DS_Store
XML/API_SP.POP.TOTL_DS2_en_xml_v2_14304.xml
JSON/.DS_Store
JSON/.DS_Store
JSON/.DS_Store
/JSON
